<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <!-- Heading will be at the top of the page -->
        <h2>Selected Programming Language</h2>
            <!-- creates the card for the data that will taken from the api-->
            <div class="card">
                <!-- card header where the name of the lan will go -->
                <div class="card-header">
                    <!-- Will display the name of the selected language
                         used to include the name since it comes from the js file-->
                    <p>Name: <%= locals.select %> </p>
                </div>
                <!-- Data inside of the card body-->
                <div class="card-body">
                    <!-- Creates the unordered list for each data point(created,by,marketshare,discp)-->
                    <!-- using <=%> to insert the data from the api that was rendered through the form-->
                    <ul> 
                        <li>
                            Date Created: <%= locals.createdDate %> 
                        </li>
                        <li>
                            Date By: <%= locals.createdBy %> 
                        </li>
                        <li>
                            Market Share: <%= locals.market %>% 
                        </li>
                        <li>
                            Typing Disciplines: <%= locals.disc %> 
                        </li>
        
                    </ul>
                </div>
              </div>
              <!---->
              <br>
              <!-- used a div to move the back button to the right side of the page-->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <!--using href with the path to the home page. inside is the button so that when 
                    the user clicks on the button it returns them to the home page-->
                <a href="/" ><button type="button" class="btn btn-light">Back</button></a>
              </div>
    </main>

    <footer>
          <!-- calls onto the footer.ejs to insert the code into the file. -->
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>